/* Import 8-bit font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Full-screen dark red background */
body {
    margin: 0;
    height: 100vh;
    background-color: #9F2241;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* para centrar UNRC */
    gap: 30px;
}

.centered {
    display: flex;
    gap: 20px;
}

.letter {
    font-size: 10rem;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    animation: wave 2s infinite;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-30px);
    }
}

.proyecto {
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.names {
    position: absolute;
    top: 75%;
    left: 30px;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.names p {
    margin: 1;
}