<!DOCTYPE html>
<html Lang="es">
<head>
    <meta charset="UTF-8">
    <meta name"viewport" content="width=divice-width, initial-scale=1.0">
    <title>Guardian IA</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>Guardian IA</h1>
                <nav>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/perfil">Perfil de Riesgo</a>
                    <a href="/trazabilidad">Trazabilidad</a>
                </nav>
            </div>
        </div>
        <section class="banner contenedor">
            <secrion class="banner_title">
                 <h2>Sobre nosotros <br> Seguridad</h2>
                 <a href="#" class="Ciberseguridad">Inteligencia Artificial</a>
            </secrion>
            <div class="banner_img">
                <img src="https://w7.pngwing.com/pngs/572/740/png-transparent-artificial-intelligence-computer-icons-robotics-chatbot-inteligencia-artificial-text-rectangle-number.png" alt="">
                
            </div>
        </section>
    </header>   
</body>
</html>