<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Te amo Napoli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="centered">
            <span class="letter" style="--i:0">U</span>
            <span class="letter" style="--i:1">N</span>
            <span class="letter" style="--i:2">R</span>
            <span class="letter" style="--i:3">C</span>
        </div>
        <div class="names">
            <p>- Raúl Campero Espinosa</p>
            <p>- Maximiliano García Martínez</p>
            <p>- José Rafael Miranda Hernández</p>
            <p>- Manuel Romero Nápoles</p>
        </div>
    </div>
</body>
</html>

