<!DOCTYPE html>
<html lang="es">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Riesgo - Guardian IA</title>
    <link rel="stylesheet" href="static/css/trazabilidad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                   <button class="button" data-text="Awesome">
                     <span class="actual-text">&nbsp;Guardián IA&nbsp;</span>
                     <span aria-hidden="true" class="hover-text">&nbsp;Guardián IA&nbsp;</span>
                 </button>
                <nav>
                    <a href="/dashboard" class="nav-button">Dashboard</a>
                    <a href="/content" class="nav-button">Contenido</a>
                    <a href="/trazabilidad" class="nav-button">Trazabilidad</a>
                </nav>
            </div>
        </div>

        <section class="banner contenedor">
            <section class="banner_title">
                <h2>Perfil de Riesgo</h2>
                <p>Consulta la evaluación de perfiles potencialmente riesgosos en el entorno digital.</p>
            </section>
            <div class="banner_img">
                <img src="https://cdn-icons-png.flaticon.com/512/2176/2176912.png" alt="IA">
            </div>
        </section>
    </header>

<div id="privacy-modal" class="modal">
    <div class="modal-content">
        <h2>Aviso de privacidad</h2>
        <div class="modal-body" id="modal-scrollbox">
            <p>
                En cumplimiento con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, Guardia IA S.A. de C.V. pone a su disposición el siguiente aviso de privacidad.
                Guardia IA S.A. de C.V. es responsable del uso y protección de sus datos personales. En este sentido, y en cumplimiento con las obligaciones legales establecidas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, informamos a los titulares de los datos sobre la información que recabamos de ellos y los fines que se le darán a dicha información.
                <br><br>
                <strong>Domicilio:</strong><br>
                Guardia IA S.A. de C.V. tiene su domicilio en:
                San Bernabé Ocotepec, La Magdalena Contreras, 10300 Ciudad de México, CDMX.
                <br><br>
                <strong>Finalidades del Tratamiento de Datos Personales</strong><br>
                Los datos personales que recabamos de usted serán utilizados para las siguientes finalidades, las cuales son necesarias para concretar nuestra relación con usted y para atender los servicios y/o solicitudes que realice:
                <br><br>
                <u>Análisis de Riesgo de Robo de Identidad</u><br>
                Los datos recopilados serán procesados para predecir y segmentar a los usuarios en diferentes niveles de riesgo de sufrir robo de identidad, basándonos en su información demográfica anonimizada, comportamiento en línea y frecuencia de cambios de contraseña.
                <br><br>
                <u>Desarrollo de Herramientas y Mejores Prácticas</u><br>
                Los datos podrán ser utilizados para el desarrollo de herramientas y prácticas orientadas a mejorar la seguridad en plataformas y servicios, respetando siempre la privacidad de los usuarios.
                <br><br>
                <u>Investigación y Análisis Estadístico</u><br>
                Los datos serán analizados de manera agregada y anonimizada con fines estadísticos, sin que se vulneren los derechos de privacidad del usuario, para comprender patrones de comportamiento y mejorar nuestras medidas de seguridad.
                <br><br>
                <strong>Datos Personales Recabados</strong><br>
                Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:<br>
                - Delito<br>
                - Categoría de delito<br>
                - Sexo<br>
                - Edad<br>
                - Tipo de persona<br>
                - Alcaldía
                <br><br>
                <strong>Compartición de Datos Personales</strong><br>
                Informamos que Guardia IA S.A. de C.V. no compartirá sus datos personales con ninguna autoridad, empresa, organización o persona distinta a nosotros. Los datos serán utilizados exclusivamente para los fines señalados en este aviso de privacidad.
                <br><br>
                <strong>Derechos ARCO</strong><br>
                Usted tiene en todo momento el derecho de conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, tiene el derecho de solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación). También puede solicitar que su información sea eliminada de nuestros registros o bases de datos cuando considere que no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
                <br><br>
                Para el ejercicio de cualquiera de los derechos ARCO, deberá presentar la solicitud respectiva a través del siguiente correo electrónico:  
                <strong>guardiania.oficial@gmail.com</strong>
                <br><br>
                La solicitud debe contener:<br>
                - Nombre del solicitante<br>
                - Teléfono del solicitante<br>
                - Contenido o motivo de la solicitud<br>
                - Firma del solicitante<br>
                <br>
                La respuesta se proporcionará en un plazo de 15 días vía correo electrónico.
                <br><br>
                <strong>Datos de Contacto para Derechos ARCO</strong><br>
                - Nombre del responsable: Reclamaciones<br>
                - Domicilio: San Bernabé Ocotepec, La Magdalena Contreras, 10300 Ciudad de México, CDMX<br>
                - Teléfono: 0180012345<br>
                - Correo electrónico: guardiania.oficial@gmail.com
                <br><br>
                <strong>Revocación de Consentimiento</strong><br>
                En cualquier momento, usted puede revocar su consentimiento para el uso de sus datos personales.  
                <br><br>
                La solicitud de revocación debe enviarse al correo:  
                <strong>guardiania.oficial@gmail.com</strong>
                <br><br>
                Debe incluir:<br>
                - Nombre del solicitante<br>
                - Teléfono del solicitante<br>
                - Contenido o motivo de la solicitud<br>
                - Firma del solicitante<br>
                <br>
                La respuesta será enviada en un plazo de 15 días vía correo electrónico.
                <br><br>
                <strong>Modificaciones al Aviso de Privacidad</strong><br>
                Nos reservamos el derecho de realizar cambios en este aviso. En caso de cambios importantes, se notificará vía correo electrónico. Puede solicitar información sobre las modificaciones escribiendo a:  
                <strong>guardiania.oficial@gmail.com</strong>
                <br><br>
                Ciudad de México, 1 de abril de 2025.
            </p>
        </div>
        <button class="close-button" id="accept-btn" onclick="closeModal()" disabled>Aceptar y continuar</button>
    </div>
</div>


    <script>
        // Cierra el modal al aceptar
        function closeModal() {
            document.getElementById("privacy-modal").style.display = "none";
        }

        // Detectar scroll hasta abajo
        const scrollBox = document.getElementById('modal-scrollbox');
        const acceptBtn = document.getElementById('accept-btn');

        scrollBox.addEventListener('scroll', function () {
            if (scrollBox.scrollTop + scrollBox.clientHeight >= scrollBox.scrollHeight - 5) {
                acceptBtn.disabled = false;
                acceptBtn.classList.add('enabled');
            }
        });
    </script>

    <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
</body>

<footer>
        <div class="footer">
            <div class="row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="row">
                **Guardián IA Copyright © 2025 Guardián IA - All rights reserved || Designed By: Mahesh**
            </div>
        </div>
    </footer>
</html>

<script>
  // Función para cerrar el modal
        function closeModal() {
            document.getElementById("privacy-modal").style.display = "none";
        }

        // Detectar scroll hasta abajo
        const scrollBox = document.getElementById('modal-scrollbox');
        const acceptBtn = document.getElementById('accept-btn');

        scrollBox.addEventListener('scroll', function () {
            if (scrollBox.scrollTop + scrollBox.clientHeight >= scrollBox.scrollHeight - 5) {
                acceptBtn.disabled = false;
                acceptBtn.classList.add('enabled');
            }
        });
    </script>
</body>
</html>