@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #388E3C, #94a894);
    position: relative;
    overflow: hidden;
}

.header_nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_nav h1 {
    color: #fff;
    font-family: 'Audiowide', sans-serif; /* Cambiada la fuente a Audiowide con un fallback genérico */
    font-size: 60px;
    margin-top: 20px;
    font-weight: bold; 
    text-shadow:
        /* Efecto de neón */
        0 0 7px #25F005,
        0 0 15px #25F005,
        0 0 25px #25F005,
        /* Contorno negro */
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
        -1px  0   0 #000,
         1px  0   0 #000,
         0   -1px 0 #000,
         0    1px 0 #000;
}

.header_nav nav a {
    color: #fff;
    font-size: 20px;
    font-weight: bold; 
    text-decoration: none;
    margin-right: 10px;
    margin-top: 20px;   
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_img {
    animation: movimiento 2.5s linear infinite;
}

.banner_img img {
    width: 600px;
    display: block;
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Puedes agregar más estilos para sidebar, overlay y main-content si lo deseas */
